@import './base.css';
* {
  box-sizing: border-box;
  font-family: 'graphik', sans-serif;
}
:root {
  --background-color1-: #14191d;
  --background-color2-: #445566;
  --background-color3-: #283038;
  --background-color4-: #8899aa;
  --background-color5-: #1b2127;

  --font-color1-: #ffffff;
  --font-color2-: #a7b8c8;
  --font-color3-: #79838c;
  --green-: #39c030;
  --orange-: #ee7000;
  --blue-: #309ce4;
  --header-height-: 75px;

  --graphik-: 'graphik', sans-serif;
  --tiempos-: 'tiempos', sans-serif;
}

.tiempo {
  font-family: var(--tiempos-);
}
.tiempoBold {
  font-family: var(--tiempos-);
  font-weight: bold;
}
.headerBackground {
  height: var(--header-height-);
  width: 100vw;
  background-color: var(--background-color1-);
  position: relative;
}

.wrapper {
  width: 1020px;
  margin: 0px auto;
  height: 100%;
}

main {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--background-color5-);
  color: var(--font-color2-);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.cover {
  position: relative;
  width: 1200px;
  height: 450px;
  margin-bottom: 20px;
}
.cover > img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 480px;

  -webkit-mask-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 2%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 98%
    );

  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-composite: intersect;

  mask-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 2%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 98%
    );

  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-composite: intersect;
}

h1 {
  color: var(--font-color1-);
  font-size: 35px;
}
h2 {
  color: var(--font-color2-);
  font-size: 28px;
}
.tiempoTitle {
  font-family: var(--tiempos-);
  font-weight: bold;
  font-size: 24px;
}
.tiempoTitleSpan {
  color: var(--font-color2-);
  font-family: var(--graphik-);
  font-size: 14px;
}
h3 {
  font-size: 16px;
}
p {
  font-size: 16px;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: var(--font-color1-);
}
a:hover {
  color: var(--blue-);
}
button {
  border: none;
  border-radius: 4px;
}
Button:hover {
  cursor: pointer;
}

.card {
  position: relative;
  border-radius: 5px;
  width: 162px;
  height: 231px;
}
.smallCard {
  width: 76px;
  height: 111px;
}
.card:hover {
  cursor: pointer;
}
.card::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  pointer-events: none;
}
.card:hover::after {
  border: var(--green-) 5px solid;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: fill;
}

.tooltip {
  position: absolute;
  bottom: 104%; /* au-dessus de l'image */
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-color2-);
  color: var(--font-color2-);
  font-size: 12px;
  font-weight: bold;

  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;

  pointer-events: none;
  z-index: 10;
}
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: var(--background-color2-) transparent transparent transparent;
}
.card:hover .tooltip {
  opacity: 1;
}

/* Sections */

section {
  margin-bottom: 60px;
}
.sectionTitle {
  border-bottom: var(--font-color3-) 1px solid;
  margin-bottom: 20px;
  padding-bottom: 4px;
}
.bigCardsSection > .cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.heartIcon {
  color: var(--orange-);
}
.starIcon {
  color: var(--green-);
}

.pageLoader {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  color: var(--font-color1-);
  font-weight: bold;
}

/* loadingBanner */
.loadingBanner {
  position: absolute;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  top: 100%;
  z-index: 1;
  background-color: var(--background-color3-);
  color: var(--orange-);
}
.loadingBanner p,
.loadingBanner > svg {
  font-size: 20px;
  font-weight: bold;
}

/* ---- */
/* Media QUerries */
/* ---- */

@media (max-width: 1020px) {
  .wrapper {
    width: 90vw;
  }
  .cover {
    width: 100vw;
  }

  h1 {
    font-size: 30px;
  }

  .bigCardsSection > .cards {
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;

    width: 100%;
  }

  .card {
    position: relative;
    border-radius: 5px;
    width: 120px;
    height: 180px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
}
